html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif;
    background-color: #00539F;
    background-image: url("../images/bc.png");
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

p, li {
    font-size: 16px;
    /* line-height 行高：后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
}

img {
    /* block：此元素将显示为块级元素。 
    上下距离为0，左右居中*/
    display: block;
    margin: 0 auto;
}
/* 演示div标签 */
.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 100%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}
/* 演示span标签 */
span.ingredient {
    color: #f00;
}

video {
    display: block;
    margin: 0 auto;
}
video::cue { 
    font-size: 1rem;
}